body {
  background-color: white
}

h1{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
}

p{
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover{
  color:blue;
  text-decoration: underline;
  font-size: 13px;
}

.adriana:hover {
    font-size: 15px;
}

.drenagemEMARP {
    color: blue;
    font-size: 13px;
}

.drenagemONDADECHOCOLATE {
    color: blue;
    font-size: 13px;
}

.drenagemGALERIAXXI {
    color: blue;
    font-size: 13px;
}

.concertofeiradolivromp {
    color: blue;
    font-size: 13px;
}

.concertosolocosmos {
    color: blue;
    font-size: 13px;
}

.adrianajoaoeinesmalheiro {
    color: blue;
    font-size: 13px;
}

.fromsincetimeimmemorial {
    color: blue;
    font-size: 13px;
}

.funcionariocomadrianajoaobleza {
    color: blue;
    font-size: 13px;
}

.organismuskatharsisII {
    color: blue;
    font-size: 13px;
}

.TEIA {
    color: blue;
    font-size: 13px;
}

.soundstudies {
  color: blue;
  font-size: 13px;
}

.alteraçõesempáticas {
    color: blue;
    font-size: 13px;
}

.sal {
    color: blue;
    font-size: 13px;
}

.descarga {
    color: blue;
    font-size: 13px;
}

.concertosnapaisagem {
    color: blue;
    font-size: 13px;
}

.hapsolution {
    color: blue;
    font-size: 13px;
}

.resves {
    color: blue;
    font-size: 13px;
}

.apex {
    color: blue;
    font-size: 13px;
}

.gaba {
    color: blue;
    font-size: 13px;
}

.egeu2 {
    color: blue;
    font-size: 13px;
}

.egeu1 {
    color: blue;
    font-size: 13px;
}

.ew2 {
    color: blue;
    font-size: 13px;
}

.musicosderuacsl {
    color: blue;
    font-size: 13px;
}

.luzlinar {
    color: blue;
    font-size: 13px;
}

.concertosnapaisagemresidencia {
    color: blue;
    font-size: 13px;
}

.theaterinasuitcase {
    color: blue;
    font-size: 13px;
}

.resves2 {
    color: blue;
    font-size: 13px;
}

.apex2 {
    color: blue;
    font-size: 13px;
}

.thesashaproject {
    color: blue;
    font-size: 13px;
}

.ARCAtalk {
    color: blue;
    font-size: 13px;
}

.fotoflorconcertoalagoa {
    color: blue;
    font-size: 13px;
}

.seisEnsaios {
    color: blue;
    font-size: 13px;
}

.bandcampseisensaios {
    color: blue;
    font-size: 13px;
}

.veryveryfunny {
    color: blue;
    font-size: 13px;
}

.TEIA {
    color: blue;
    font-size: 13px;
}

.dose05 {
    color: blue;
    font-size: 13px;
}

.instagram {
    color: blue;
    font-size: 13px;
}

.facebook {
    color: blue;
    font-size: 13px;
}

.mixcloudteia {
    color: blue;
    font-size: 13px;
}

.instagramteia {
    color: blue;
    font-size: 13px;
}

.facebookteia {
    color: blue;
    font-size: 13px;
}

.seta {
    color: black;
    font-size: 15px;
}

.seta:hover {
    font-size: 15px;
}
